In [2]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 2.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317130 sha256=c07e00e74d365e942bd9385ed0a9c8af65da1955e783d9230ab34a5d275fb4a2
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [3]:
from pyspark.sql import SparkSession

In [7]:
# Instanciar a sessão spark e depois coloca a função builder,mostrando para sessão que ela precisa ser criada ou se não existe que ele precisa criar com a função getOrcreate.

spark = SparkSession.builder.appName("Meu primeiro Dataframe").getOrCreate()

In [8]:
# Ler o arquivo e transformando em um dataframe.
df = spark.read.csv('./base_de_dados.csv')

In [9]:
# referenciando df e mostrando através da função show (mostra o conteudo)
df.show()

+--------------------+
|                 _c0|
+--------------------+
|id;valor;parte_de...|
|1;9.93;Dra. Ana C...|
|2;15.38;Ana Calde...|
|3;57.58;Arthur Go...|
|4;53705.13;Ana Ju...|
|5;25299.69;Srta. ...|
|6;7165.06;Gabriel...|
|7;6.16;Heloisa da...|
|8;136.36;Srta. Is...|
|9;574.39;Dr. Luca...|
|10;42.88;Mirella ...|
|11;33629.97;Sr. V...|
|12;4374.56;Nathan...|
|13;507.18;Miguel ...|
|14;67758.87;Julia...|
|15;815.53;Ana Lau...|
|16;2.73;Levi Lima...|
|17;0.54;Otavio Cu...|
|18;49836.72;Ana C...|
|19;9.68;Levi Mart...|
+--------------------+
only showing top 20 rows

In [10]:
# Outra forma de ler um CSV para tentar mostrar pelo header onde ele entende que a primeira linha da minhas colunas são é o nome das colunas.
df = spark.read.csv(
    './base_de_dados.csv',
    header=True
)

In [11]:
df.show()

+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|id;valor;parte_debitada_nome;parte_debitada_conta;parte_debitada_banco;parte_creditada_nome;parte_creditada_conta;parte_creditada_banco;chave_pix_tipo;chave_pix_valor;data_transacao|
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                                                                                                 1;9.93;Dra. Ana C...|
|                                                                                                                                                                 2;15.38;Ana Calde...|
|                                                                                                                                                                 3;57.58;Arthur Go...|
|                                                                                                                                                                 4;53705.13;Ana Ju...|
|                                                                                                                                                                 5;25299.69;Srta. ...|
|                                                                                                                                                                 6;7165.06;Gabriel...|
|                                                                                                                                                                 7;6.16;Heloisa da...|
|                                                                                                                                                                 8;136.36;Srta. Is...|
|                                                                                                                                                                 9;574.39;Dr. Luca...|
|                                                                                                                                                                 10;42.88;Mirella ...|
|                                                                                                                                                                 11;33629.97;Sr. V...|
|                                                                                                                                                                 12;4374.56;Nathan...|
|                                                                                                                                                                 13;507.18;Miguel ...|
|                                                                                                                                                                 14;67758.87;Julia...|
|                                                                                                                                                                 15;815.53;Ana Lau...|
|                                                                                                                                                                 16;2.73;Levi Lima...|
|                                                                                                                                                                 17;0.54;Otavio Cu...|
|                                                                                                                                                                 18;49836.72;Ana C...|
|                                                                                                                                                                 19;9.68;Levi Mart...|
|                                                                                                                                                                 20;9837.22;Noah C...|
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [12]:
# Utilizando a função sep onde passamos qual caractere separa as colunas.
df = spark.read.csv(
    './base_de_dados.csv',
    header=True,
    sep=';'
)

In [13]:
df.show()

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+----------------+
| id|   valor| parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|chave_pix_valor|  data_transacao|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+----------------+
|  1|    9.93|Dra. Ana Carolina...|            79470453|              Nubank|       Maysa da Cruz|             67162333|                 Itau|           cpf|     8439752610|18/02/2022 13:28|
|  2|   15.38|        Ana Caldeira|            19689668|                Itau|        Evelyn Sales|             60005091|             Bradesco|           cpf|    27145380617|08/04/2022 01:47|
|  3|   57.58|    Arthur Goncalves|            18856899|            Bradesco|          Maria Melo|             13496303|                  BTG|           cpf|    16452937006|14/07/2022 03:18|
|  4|53705.13|  Ana Julia Caldeira|            22834741|                Itau|   Ana Livia Almeida|             44695116|               Nubank|           cpf|    26590384142|15/01/2022 18:06|
|  5|25299.69|  Srta. Nicole Pinto|             3715882|              Nubank|Srta. Ana Laura d...|             21409465|               Nubank|           cpf|    73486105280|13/05/2022 11:04|
|  6| 7165.06|   Gabriela Ferreira|             2243037|              Nubank|       Larissa Souza|             10689552|                 Itau|           cpf|    96845371237|11/09/2022 13:38|
|  7|    6.16|    Heloisa da Rocha|            59778949|                 BTG|Dra. Vitoria Silv...|             56583792|               Nubank|           cpf|    89064175357|10/12/2021 12:37|
|  8|  136.36|Srta. Isadora Cor...|            77102442|              Nubank|  Francisco da Costa|             96088386|               Nubank|           cpf|    85907632429|30/12/2021 23:18|
|  9|  574.39|   Dr. Lucas da Cruz|            38501170|                 BTG|       Calebe da Luz|             19365554|             Bradesco|           cpf|    64720189520|21/06/2021 07:20|
| 10|   42.88|     Mirella Martins|            29535709|            Bradesco|        Danilo Lopes|             60064650|                 Itau|           cpf|    87014935232|21/09/2022 17:19|
| 11|33629.97|Sr. Vitor Gabriel...|            67010663|                 BTG|Sra. Lavinia Cald...|             48145941|               Nubank|           cpf|    63542098124|12/09/2022 00:29|
| 12| 4374.56|      Nathan Peixoto|            22975623|              Nubank|        Diogo da Luz|             30302218|             Bradesco|           cpf|    72908154323|07/08/2022 17:01|
| 13|  507.18|       Miguel Araujo|            75113657|              Nubank|Marcos Vinicius G...|             67418115|                 Itau|           cpf|    84763129031|07/03/2021 12:34|
| 14|67758.87|     Juliana Correia|             4495167|                Itau|    Davi Lucas Porto|             94395923|                  BTG|           cpf|    97804215649|24/03/2021 22:58|
| 15|  815.53|     Ana Laura Souza|            79650252|                Itau|        Isabel Costa|             28762988|                  BTG|           cpf|    51824039689|21/02/2022 11:25|
| 16|    2.73|           Levi Lima|            73815441|                 BTG|Dra. Maria Luiza ...|             96594203|             Bradesco|           cpf|    94516738066|20/07/2021 09:17|
| 17|    0.54|        Otavio Cunha|            85583961|            Bradesco|       Elisa Moreira|             97003354|             Bradesco|           cpf|    15248769094|16/02/2022 10:16|
| 18|49836.72|Ana Carolina Oliv...|            80200942|                Itau|    Stella Fernandes|             31579145|                  BTG|           cpf|    47609381250|18/07/2022 22:46|
| 19|    9.68|        Levi Martins|            12349481|                Itau|Joao Guilherme Me...|             31102492|                  BTG|       celular|    11916824404|26/02/2022 15:05|
| 20| 9837.22|          Noah Cunha|            84622162|            Bradesco|         Juan Mendes|             97805965|             Bradesco|       celular|    11944547225|22/06/2021 05:39|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+----------------+
only showing top 20 rows

In [14]:
# Print todas as colunas e os tipos delas.
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- valor: string (nullable = true)
 |-- parte_debitada_nome: string (nullable = true)
 |-- parte_debitada_conta: string (nullable = true)
 |-- parte_debitada_banco: string (nullable = true)
 |-- parte_creditada_nome: string (nullable = true)
 |-- parte_creditada_conta: string (nullable = true)
 |-- parte_creditada_banco: string (nullable = true)
 |-- chave_pix_tipo: string (nullable = true)
 |-- chave_pix_valor: string (nullable = true)
 |-- data_transacao: string (nullable = true)