In [ ]:
#importar bibliotecas
import pandas as pd
import numpy as np
from sklearn import datasets

In [ ]:
#importar base de dados de custo de vida
vendas = pd.read_csv('sales.csv')

In [ ]:
#Faça uma análise sobre os Parâmetros da população

In [ ]:
vendas.describe()

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
count,6435.000000,6.435000e+03,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000
mean,23.000000,1.046965e+06,0.069930,60.663782,3.358607,171.578394,7.999151
std,12.988182,5.643666e+05,0.255049,18.444933,0.459020,39.356712,1.875885
min,1.000000,2.099862e+05,0.000000,-2.060000,2.472000,126.064000,3.879000
25%,12.000000,5.533501e+05,0.000000,47.460000,2.933000,131.735000,6.891000
50%,23.000000,9.607460e+05,0.000000,62.670000,3.445000,182.616521,7.874000
75%,34.000000,1.420159e+06,0.000000,74.940000,3.735000,212.743293,8.622000
max,45.000000,3.818686e+06,1.000000,100.140000,4.468000,227.232807,14.313000

#Amostragem simples aleatória

In [ ]:
#faça uma amostra probabilística simples sem repetição com 40 unidades
amostra1 = vendas.sample(363, replace = True)

In [ ]:
#Exibe tamanho da amostra
amostra1.shape

(363, 8)

In [ ]:
#exibe primeiras 10 linhas do dataset
amostra1.head(10)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
2788,20,17-06-2011,2065191.27,0,66.41,3.842,208.126560,7.287
4718,33,26-10-2012,253731.13,0,73.70,4.301,131.193097,6.895
6360,45,27-05-2011,817653.25,0,69.70,3.985,185.860308,8.521
3852,27,31-08-2012,1731935.43,0,75.00,4.026,142.405448,8.239
3529,25,16-12-2011,997502.47,0,33.09,3.413,212.068504,7.082
3611,26,15-10-2010,937956.89,0,39.93,2.878,132.763355,8.149
3826,27,02-03-2012,1509323.09,0,40.07,3.983,141.387536,8.009
4783,34,29-04-2011,895973.02,0,57.73,3.781,128.999867,10.581
4258,30,23-03-2012,430222.97,0,62.96,3.787,220.924486,7.057
3248,23,20-01-2012,1146992.13,0,15.33,3.542,136.856419,4.261

In [ ]:
#Exiba as estatísticas da amostra

In [ ]:
vendas.describe()

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
count,6435.000000,6.435000e+03,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000
mean,23.000000,1.046965e+06,0.069930,60.663782,3.358607,171.578394,7.999151
std,12.988182,5.643666e+05,0.255049,18.444933,0.459020,39.356712,1.875885
min,1.000000,2.099862e+05,0.000000,-2.060000,2.472000,126.064000,3.879000
25%,12.000000,5.533501e+05,0.000000,47.460000,2.933000,131.735000,6.891000
50%,23.000000,9.607460e+05,0.000000,62.670000,3.445000,182.616521,7.874000
75%,34.000000,1.420159e+06,0.000000,74.940000,3.735000,212.743293,8.622000
max,45.000000,3.818686e+06,1.000000,100.140000,4.468000,227.232807,14.313000

#Amostragem sistemática

In [ ]:
# Faça uma Funçao para definir a amostragem sistemática
def amostragem_sistematica(df, step):
 
    indexes = np.arange(3, len(df), step = step)
    amostragem_sistematica = df.iloc[indexes]
    return amostragem_sistematica

amostra_sistematica = amostragem_sistematica(vendas, 3)
 
# Visualiza a função
amostra_sistematica.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
6,1,19-03-2010,1472515.79,0,54.58,2.720,211.215635,8.106
9,1,09-04-2010,1545418.53,0,65.86,2.770,210.622857,7.808
12,1,30-04-2010,1425100.71,0,67.41,2.780,210.389546,7.808
15,1,21-05-2010,1399662.07,0,76.44,2.826,210.617093,7.808

In [ ]:
#Exiba as estatísticas da amostra

In [ ]:
amostra_sistematica.describe()

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
count,2144.000000,2.144000e+03,2144.000000,2144.000000,2144.000000,2144.000000,2144.000000
mean,23.003265,1.048246e+06,0.069963,60.604151,3.359233,171.531869,7.998573
std,12.984448,5.647227e+05,0.255144,18.504837,0.459175,39.350455,1.877769
min,1.000000,2.135383e+05,0.000000,9.510000,2.472000,126.064000,3.879000
25%,12.000000,5.536219e+05,0.000000,47.205000,2.931000,131.735000,6.891000
50%,23.000000,9.614361e+05,0.000000,62.625000,3.445000,182.613463,7.874000
75%,34.000000,1.425226e+06,0.000000,74.905000,3.734000,212.640473,8.622000
max,45.000000,3.818686e+06,1.000000,100.140000,4.468000,227.169392,14.313000